{
  "CN": "system:node:{{ worker_name }}",
  "key": {
    "algo": "rsa",
    "size": 2048
  },
  "names": [
    {
      "C": "{{ pki_c }}",
      "L": "{{ pki_l }}",
      "ST": "{{ pki_st }}",
      "O": "system:nodes",
      "OU": "Kubernetes The Hard Way"
    }
  ]
}
